@mixin Centermargin() {
  margin-left: 15px;
  margin-right: 15px;
}
/*
@mixin titleClass() {
  font-family: $fontSecond;
  color: red;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@mixin title-2Class() {
  font-family: $fontSecond;
  color: green;
}
*/
