<footer class="footer">
  <a class="footer__icon" href="index.html"> <img class="imgfooter" src="./assets/images/ico-arrow.svg"
      alt=" icono footer scroll up" title="redirige al index"></a>

  <nav class="footmenu">
    <ul class="footmenu__sections">
      <li class="footmenu__sections--items"><a href="https://adalab.es/" class="footmenu__sections--links">Articles</a>
      </li>
      <li class="footmenu__sections--items"><a href="https://adalab.es/" class="footmenu__sections--links">Books</a>
      </li>
      <li class="footmenu__sections--items"><a href="https://adalab.es/" class="footmenu__sections--links">Events</a>
      </li>
      <li class="footmenu__sections--items"><a href="https://adalab.es/" class="footmenu__sections--links">Reasons</a>
      </li>
      <li class="footmenu__sections--items"><a href="https://adalab.es/" class="footmenu__sections--links">Tips</a>
      </li>
    </ul>
    <ul class="footmenu__sections social">
      <li class="footmenu__sections--items"><a href="https://adalab.es/" class="footmenu__sections--links">Twitter</a>
      </li>
      <li class="footmenu__sections--items"><a href="https://adalab.es/" class="footmenu__sections--links">Instagram</a>
      </li>
      <li class="footmenu__social--items"><a href="https://adalab.es/"
          class="footmenu__sections--links">Mastodon.social</a></li>
    </ul>

  </nav>
  <div class="footerend">
    <small class="footerend__copy">&copy;2021</small>
    <p class="footerend__paragraph">we <i class="fa fa-heart" aria-hidden="true"></i> components</p>
  </div>
</footer>