<footer class="footer">
  <img class="footer__scrollup" href=""><a href="" alt="icono flecha hacia arriba"
    title="icono redirige al inicio de la página"></a>
  <nav class="footmenu">
    <ul class="footmenu__sections">
      <li class="footmenu__sections--items"><a href="" class="footmenu__sections--link">Articles</a></li>
      <li class="footmenu__sections--items"><a href="" class="footmenu__sections--link">Books</a></li>
      <li class="footmenu__sections--items"><a href="" class="footmenu__sections--link">Events</a></li>
      <li class="footmenu__sections--items"><a href="" class="footmenu__sections--link">Reasons</a></li>
      <li class="footmenu__sections--items"><a href="" class="footmenu__sections--link">Tips</a></li>
    </ul>
    <ul class="footmenu__social">
      <li class="footmenu__social--items"><a href="" class="footmenu__social--links">Twitter</a></li>
      <li class="footmenu__social--items"><a href="" class="footmenu__social--links">Instagram</a></li>
      <li class="footmenu__social--items"><a href="" class="footmenu__social--links">Mastodon.social</a></li>
    </ul>
  </nav>
  <small class="footer__copy">&copy;2017</small>
  <p class="footer__paragraph">we (icon love)components</p>
</footer>