// fonts
$font-main: "RobotoSlab-bold", sans-serif;
$font-second: "Roboto-regular", sans-serif;

// colors
$colorBackgroundfooter: #304268;
$colorbuttoms: #f26002;
$colorheadernav: #0271bc;

$color-k-50: rgba(0, 0, 0, 0.5);
$colorBackground2: #eff9ff;

//colors for font
$colortitle1: #0000;
$colorsmallmain: #8ccbea;
$colortext: #ffffff;
$colortextP: #4a4a4a;
