.footer {
  width: 100%;
  background-color: $colorBackgroundfooter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 45px;

  &__icon {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colortext;
    border-radius: 50%;
  }
}

.footmenu {
  &__sections {
    text-align: center;
    padding-bottom: 30px;
    color: $colortext;
    &--links {
      padding: 0 10px;
      text-decoration: none;
      color: $colortext;
      font-family: $font-second;
      line-height: 1.88;
    }

    &--items {
    }
  }
}

.footerend {
  color: $colortext;
  text-transform: lowercase;
  text-align: center;
  .fa-heart {
    color: $colorbuttoms;
  }
}
