#section__reasons {
  scroll-margin-top: 105px;
}

.section-reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorBackground2;
}
.section-title {
  padding: 30px 0;
  font-family: $font-main;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

.Article-Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 45px;
  padding: 45px 70px;
  text-align: center;
  font-family: $font-second;
  font-size: 18px;
  line-height: 1.67;
  .article1 {
    grid-row: 1/2;
  }
  .article2 {
    grid-row: 2/3;
  }
  .article3 {
    grid-row: 3/4;
  }
}
.reason__buttom {
  width: 200px;
  height: 45px;
  margin-bottom: 60px;
  border: 3px solid $colorbuttoms;
  border-radius: 22.5px;
  background-color: $colorbuttoms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #faac58;
    transition: all ease 5s;
  }
  &--link {
    font-size: 20px;
    line-height: 2.25;
    font-weight: 500;
    font-family: $font-second;
    text-align: center;
    color: $colortext;
  }
}

.containertex {
  text-align: center;
}
